<% if(user.role === "teacher"){ %> <%-include("teacher/teacher-dash.ejs")%> <%
}else{ %> <%-include("student/student-dash.ejs")%> <% } %>
<div class="course-main">
  <% courses.forEach(function(c){%>
    <div class="course">
    <a href="" class="card">
      <img src="/lectures/<%= c.image%>" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <i class="fas fa-shopping-cart"></i>
          <div class="card__header-text">
            <h3 class="card__title"><%= c.title%><br /><%= c.price%></h3>
            
          </div>
        </div>
        <p class="card__description">
          <%= c.description%>
        </p>
      </div>
    </a>
  </div>
    <% }) %>
</div>
<%-include("partials/dash-footer.ejs")%>
