<% if(user.role === "teacher"){ %>
 <%-include("teacher/teacher-dash.ejs")%>
<% }else{ %>
  <%-include("student/student-dash.ejs")%>
<% } %>
<section class="profile">
 <div class="profile-card">
   <div>
     <% if(user.role === "teacher"){ %>
        <img src="https://cdn-images.zety.com/pages/teacher_cover_letter_00.jpg" style="max-height: 10rem ;width: 100%;"alt="">
    <% }else{ %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStJG1IrOZRAYGTiOlqfG1FZM8yyZJYa_JLwk9UDEG1SGdAEdrkpB8l067REU6WGDU0IA&usqp=CAU" style="max-height: 10rem ;width: 100%;" alt="">
    <% } %>
    
  </div>
      <h2>User Profile</h2>
      <table>
        <tr>
          <th>Name:</th>
          <td><%= user.name %></td>
          <td></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= user.username %></td>
        </tr>
      </table>
    </div>
</section>
<%-include("partials/dash-footer.ejs")%>
