<%- include("student-dash.ejs") %>

<section class="course-teacher">
  <div class="container">
   <% if(courses.length===0 || Object.keys(courses).length === 0){ %>
        <h1>No Purchased Courses</h1>
   <%   }else{ %>
    <div class="container py-1">
      <div class="rowtext">
        <div class="">
          <div class="btn-row d-flex flex-row align-items-start">
            <h1 style="font-size: 2rem;">My Courses</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="">
          <ul class="list-group card">
            <% courses.forEach(function(c){ %>
            <li class="list-group-item">
              <div class="media align-items-lg-center flex-row flex-lg-row">
                <div class="media-body order-2 order-lg-1">
                  <h2 class="mt-0 font-weight-bold"><%=c.title%></h2>
                  <p class="font-italic text-muted mb-0 small">
                    <%=c.description%>
                  </p>
                  <div
                    class="d-flex align-items-center justify-content-between btn-row">
                    <h6 class="font-weight-bold" style="font-size: 1.1rem; margin: 2rem 0; text-transform: capitalize;">Instructor: <%=c.teacherName%></h6>
                    <div class="flex-row justify-content-between">
                      <a href="/delete/<%= c._id %>" style="color: rgb(205, 73, 73); font-size: 1.3rem"><i class="fas fa-trash"></i></a>
                    </div>
                  </div>
                </div>
                <div>
                  <img
                    src="/lectures/<%= c.image%>"
                    alt="Generic placeholder image"
                    width="150"
                    style="padding: 2rem; max-height: 10rem;"
                    class="course-img order-1 order-lg-2"
                  />
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
 <% } %>
  </div>
</section>
<%-include("../partials/dash-footer.ejs")%>
